/* .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: #fff;
  margin-bottom: 8px;
  border-radius: 6px;
} */

.tableWrapper {
  height: 386px;
  overflow-y: auto;
  border-radius: 10px;
  width: 760px;
}

/* Кастомний скрол справа */
.tableWrapper::-webkit-scrollbar {
  width: 6px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background: #ff7f2f;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background: #fff;
}

th {
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  padding: 14px 20px;
  background: #f7f9fc;
  color: #000;
  border-bottom: 1px solid #e7eaf0;
}

td {
  height: 38px;
  padding: 0 20px;
  border-bottom: 1px solid #f1f1f1;
  color: #52555f;
  font-weight: 400;
  font-size: 12px;
}

tr {
  height: 38px;
}

/* .amount {
  color: #d9534f;
  font-weight: 600;
} */

.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.delete {
  width: 18px;
  padding-right: 43px;
}

/* Порожні рядки (для ефекту, як у дизайні) */
.emptyRow td {
  height: 32px;
  border-bottom: 1px solid #f6f6f6;
}

@media (max-width: 1200px) {
  .tableWrapper {
    width: 605px;
  }
  .delete {
    width: 18px;
    padding-right: 26px;
  }
}
