.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #fff;
    margin-bottom: 8px;
    border-radius: 6px;
}